

.cryptoBorder {
  /* border-right: 0.001rem solid rgba(83, 92, 100, 0.5); */
  padding-top: 25px;
  padding-bottom: 12px;
  padding-left: 30px;
  padding-right: 15px;
}

.cryptoBorder__countryDropdown{
  margin-top: 45px; 
  margin-left: 30px;
  margin-right: 65px;
}

.cryptoBorder__crypto-portfolio {
  padding-top: 5px;
  font-size: 18px;
  padding-bottom: 10px;
  color: #9dabbd;
  margin-bottom: 0px;
}

.cryptoBorder__header {
  font-size: 33px;
  padding-bottom: 10px;
  font-weight: bolder;
}

.cryptoBorder__decimal-amount {
  font-size: 17px;
  font-weight: bolder;
}

.cryptoBorder__percentage {
  font-size: 15px;
  font-weight: bolder;
  padding-left: 30px;
}

.cryptoBorder__porfolio-paragraph {
  color: #9dabbd;
  width: 230px;
  font-size: 13px;
  padding-bottom: 20px;
}
