.walletBG {
  background-color: #1c2127;
  height: 120vh;
  /* width: 993px; */
}

.wallet-one__wallet-angle-icon {
  cursor: pointer;
  font-size: 21px;
  padding-left: 35px;
  /* height: 2.6rem; */
  margin-right: 1rem;
  color: #85D1F0
  /* width: 2.6rem; */
}
.wallet-one__wallet {
  color: white;
  /* height: 35px;
  width: 190px; */
  /* padding: 0 3rem; */
}

.wallet-one {
  border-bottom: 0.0001rem solid rgba(83, 92, 100, 0.5);
  height: 3.7rem;
}

.wallet h4 {
  color: white;
  font-size: 1.11rem;
  font-weight: unset !important;
  margin-bottom: 0px;
}

.wallet-one__img-ico{
    padding-right: 15px;
}

.wallet-one__img-icon{
    padding-right: 25px;
}
