.dashboard {
  border: none;
  background-color: unset !important;
  /* color: white !important; */
  font-weight: bold;
  width: 210px;
  margin-bottom: 17px;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  /* background-image: linear-gradient(98.7deg, #5240f9 19.95%, #f3526d 89.51%); */
}

/* .dashboard:active {
  color: white !important;
  color: #9dabbd !important;
} */

.dashboard:hover {
  color: white !important;
  /* border-width: 3px;
  padding-left: 0px;
  padding-top: 10px !important;
  padding-bottom: 8px !important;
  height: 20px;
  border-style: solid;
  border-top: 0;
  border-right: 0;
  border-image: linear-gradient(98.7deg, #5240f9 19.95%, #f3526d 89.51%) 1 100%; */
  /* color: #9dabbd !important; */
}

.dashboard__img-box {
padding-left: 5px;
  /* margin-right: 15px; */
  transition: all 0.6s;
  color: white !important;
}

.dashboard .dashboard__img-box--img {
  display: block;
  height: 20px !important;
  object-fit: contain;
  width: 2rem !important;
  color: white !important;
}

.dashboard .dashboard__dashboardText {
  font-size: 15px;
  font-weight: 500;
  padding-left: 15px;
  letter-spacing: 0.05rem;
}
.dashboard .dashboard__dashboardText .dashboard__dashboardText--margin {
  margin-bottom: 0px;
  white-space: nowrap;
  /* width: 20% !important; */
}
.dashboard .dashboard__icon {
  margin-left: 4.2rem;
  font-size: 0.7rem;
  color: #9dabbd;
}

.dashboard:hover .dashboard__icon {
  color: white;
}
