.balance-border {
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
  border: 0.001rem solid rgba(83, 92, 100, 0.5);
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}

.balance-border__paragraph {
  color: white;
  font-size: 14px;
  padding-top: 2px;
  margin-bottom: 0px;
  padding-left: 15px;
}

.balance-border__angle-icon {
  font-size: 0.7rem;
  padding-bottom: 6px !important;
  padding-left:40px;
  padding-right: 10px;
  color: white;
}
